POCKETBASE_URL=url of your pocketbase db

//these are not neccessary, just for development and regenerating types
POCKETBASE_ADMIN_EMAIL=email of your pocketbase admin superuser
POCKETBASE_ADMIN_PASSWORD=password of your pocketbase admin superuser
