@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Inter", sans-serif;
}

/* :root {
  --ui-primary: black;
  --ui-bg: white;
}

.dark {
  --ui-primary: white;
  --ui-bg: black;
} */
