@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}

:root {
  --ui-radius: 0.25rem;
}
