@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /*   --font-sans: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace; */
  --font-sans: "Poppins", sans-serif;
}

:root {
  --ui-radius: 0.25rem;
}

.dark {
  --ui-text: var(--color-gray-100);
  --ui-text-toned: var(--color-gray-200);
  --ui-text-muted: var(--color-gray-300);
}
